* 
    box-sizing: border-box
    padding: 0
    margin: 0 


*
    padding: 0
    margin: 0
    box-sizing: border-box

body 
    width: 100%
    height: 100%
    background: whitesmoke 

h1,h2,h3,h4,h5, p
    font-family: 'lato', Arial, Helvetica, sans-serif
h1,h2,h3,h4,h5
    font-weight: 900
#logo 
    // position: absolute
    // top: 50% 
    // left: 50% 
    // transform: translate(-50%, -50%)
    height: 250px 
    padding: 2em
    circle 
        fill: #526891 
    path 
        fill: none
        stroke: #526891 
        stroke-width: 7px
        stroke-miterlimit: 10
        stroke-linecap: round


#logo path#umbrella
    transition: .4s ease-in-out
    stroke-dasharray: 181
    // stroke-dashoffset: 171
    &.is-loading
        animation: question 3s ease-in-out infinite

#logo path#not-umbrella
    stroke: lightblue

@keyframes question 
    0% 
        stroke-dashoffset: 171
    50% 
        stroke-dashoffset: 0
    100% 
        stroke-dashoffset: 171

.container 
    padding: 2em 
    @media(min-width: 600px)
        padding: 5em 2em  
    min-height: 100vh 
    .umbrella 
        flex: 1
        display: flex 
        justify-content: center 
        align-items: center

    .text 
        flex: 3
        display: flex 
        justify-content: center 
        flex-direction: column
        .question, .answer
            text-align: center
            padding-bottom: 10px

.answer 
    text-align: center
    h2 
        color: #526891
        font-size: 4em
    h2, h3, p 
        opacity: 0
        transform: translateY(-20px)
    &.in-view 
        h2, h3, p
            opacity: 1
            transform: translateY(0px)
            transition: .2s ease-out
        h3 
            transition-delay: .1s
        p
            transition-delay: .2s
    


#map 
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0 
    z-index: -1 
    opacity: .4
    &.loaded
        // transition: .4s ease-in
        // opacity: 1
        animation: fadeIn 1s ease-out 1s forwards

@keyframes fadeIn 
    from 
        opacity: 0 
        transform: translateY(-50px)
    50
        opacity: 1
        transform: translateY(0)
